html {
  font-family: Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif;
  text-align: center;
}

#mainvisual {
  width: auto;
  height: auto;
}

h1 {
  font-size: 32px;
  padding-top: 80px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 80px;
}

p {
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center; 
  width: auto;
 }

.container img {
   width: 400px;
   height: 500px;
}

#button {
   width: 232px;
  height: 50px;
  border: solid 1px black;
  margin: 60px auto;;
}

footer {
  font-size: 12px;
}

ul {
  display: flex;
  justify-content: center; 
  list-style: none;
 }

 li {
  padding: 10px;
  text-decoration: underline;
 }

 @media screen and (max-width:834px) {
  .container {
    display: block;
  }

  #mainvisual {
    display: flex;
    justify-content: center;
  }
 }